@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main-body {
    position: relative;
    width: 100%;
    height: 100dvh;
}

/* NAVBAR */

.navbar {
    background-color: #37160B;
    height: 5rem;
}

.navbar i {
    font-size: 2rem;
}

.navbar .logo {
    position: absolute;
    left: 1rem;
    color: #ffcac5;
}

.logo h2 {
    font-weight: bold;
    font-style: italic;
    margin: 0;
    color: #EADBC8;
    font-family: 'Italiana';
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.nav-item {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-item:last-child {
    position: absolute;
    right: 0;
}

.nav-link {
    color: #EADBC8 !important;
    text-decoration: none;
    opacity: 0.5;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    border-bottom: 3px solid transparent !important;
}

.nav-link.active {
    font-weight: 400 !important;
    opacity: 1;
    color: #EADBC8 !important;
}

.nav-item:hover .nav-link {
    opacity: 0.7;
}

.nav-item:hover .nav-link.active {
    opacity: 1;
}

.nav-link.active::after,
.nav-item:hover:not(.active)::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 1.4rem;
    border-radius: 2px;
    bottom: 0;
    left: calc(50% - 0.7rem);
    transition: all 0.3s ease-in-out;
}

.nav-link.active::after {
    background-color: rgba(249, 245, 239, 1);
}

.nav-item:hover:not(.active)::after{
    background-color: rgba(249, 245, 239, 0.3);
}

.nav-item:hover .nav-link.active::after {
    width: 80%;
    left: 10%;
}

#Home,
#Products,
#About,
#Contact {
    background-color: rgba(248, 240, 229, 0.7);
    padding-top: 5rem;
}

/* HOME */

.homeDesc {
    margin-left: 4rem;
}

.image-container {
    height: autp;
    position: relative;
    margin-bottom: 1rem;
    background-color: rgba(174, 145, 143, 0.1);
    padding: 0.5rem;
}

.home-product-1 {
    height: 20.5rem;
}

.home-product-2,
.home-product-3 {
    height: 10rem;
}

.home-title h1 {
    color: #6d1c15;
    font-size: 4rem;
    font-weight: 400;
    border-bottom: 1px solid rgba(90, 34, 16, 0.2);
}

.home-title span {
    font-size: 1rem;
    color: rgb(174, 145, 143);
    letter-spacing: 0.5px;
    font-weight: 300;
}

.home-buttons a {
    text-decoration: none;
    padding: 0.4rem 1.5rem;
    color: rgba(109, 28, 21, 0.7) !important;
    border-radius: 0.5rem;
    border: 1px solid rgba(109, 28, 21, 0.7);
    background-color: transparent;
    transition: all 0.175s ease-in-out;
}

.home-buttons a:last-child,
.contact-form button {
    background-color: #6d1c15;
    color: rgb(248, 240, 229) !important;
    border-color: transparent !important; 
}

.home-buttons a:hover {
    cursor: pointer;
}

.home-buttons a:last-child:hover,
.contact-form button:hover {
    background-color: #3e0a05;
}

.home-buttons a:first-child:hover {
    border-color: rgba(109, 28, 21, 1);
    color: rgba(109, 28, 21, 1) !important;
}

.home-accounts i {
    color: rgba(109, 28, 21, 0.7);
    transition: all 0.175s ease-in-out;
}

.home-accounts i:hover {
    color: rgba(109, 28, 21, 1);
    cursor: pointer;
}

/* PRODUCTS */

.products-header h1 {
    color: rgb(109, 28, 21);
    font-size: 2.2rem;
    padding: 0.2rem 2rem;
    line-height: 2.5rem;
}

.products-header p {
    color: rgb(174, 145, 143);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.product-body {
    gap: 1.5rem;
    width: 90%;
    flex-wrap: wrap;
    position: relative;
    padding-top: 1rem;
}

.product-body::before {
    content: '';
    position: absolute;
    top: -1.5rem;
    width: 10%;
    border-top: 7px dotted rgba(109, 28, 21, 0.1);
    border-bottom: 7px dotted rgba(109, 28, 21, 0.1);
    padding: 3px 0;
}

.product-card {
    width: 20rem;
    height: auto !important;
    position: relative;
    background-color: rgba(174, 145, 143, 0.1) !important;
    border: none !important;
}

.product-card img {
    height: 7rem;
}

.product-card .food-desc {
    color: rgb(174, 145, 143);
    font-size: 0.9rem;
}

.product-card .price {
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
    padding: 0 1rem;
    height: 2.5rem;
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: rgb(177, 138, 39);
    border-radius: 1.5rem 0 0 1.5rem;
    font-family: 'Italiana';
    font-weight: bold;
}

.product-card::before {
    content: '';
    position: absolute;
    border: 0.5rem solid transparent;
    border-left-width: 0rem;
    top: 3rem;
    right: -0.5rem;
    border-top-color: rgba(177, 138, 39, 0.7);
}

.product-card .food-name {
    color: rgb(109, 28, 21);
    font-size: 1.4rem;
}

.order-number {
    width: 6rem;
    position: relative;
    border: 2px dotted rgba(109, 28, 21, 0.1);
    border-radius: 5px;
    height: 2.3rem;
}

.order-number:hover {
    border-color: rgba(109, 28, 21, 0.5);;
}

.order-number p {
    color: rgb(109, 28, 21);
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.plus, .minus {
    z-index: 3;
    font-size: 0.9rem;
}

.plus:hover, 
.minus:hover,
.plus:active,
.minus:active {
    color: rgb(109, 28, 21) !important;
    border-color: transparent !important;
}

.buy-btn {
    background-color: rgba(109, 28, 21, 0.1) !important;
    color: rgb(109, 28, 21) !important;
    transition: all 0.275s ease-in-out;
}

.buy-btn:hover, .buy-btn:active {
    background-color: rgba(109, 28, 21, 0.2) !important;
    border-color: transparent !important;
}

/* ABOUT */

.about-title {
    width: 60%;
    z-index: 5;
    padding: 1rem 3rem;
    background-color: rgba(248, 240, 229, 0.3);
    backdrop-filter: blur(2px);
}

.about-title p {
    margin: 0;
    color: rgb(112, 80, 0);
}

.about-title h1 {
    color: rgb(109, 28, 21);
}

.about-title span {
    color: rgba(73, 11, 5, 0.9);
    font-weight: 300;
}

.about-journey {
    width: 80%;
    z-index: 4;
    gap: 1rem;
}

.about-content {
    width: 50%;
    border-left: 10px solid rgba(159, 131, 129, 0.5);
    background-color: rgba(248, 240, 229, 1);
}

.about-content h3 {
    font-size: 1.5rem;
}

.about-body-content {
    padding: 0 1.5rem;
}

.about-content h3,
.about-body-content p,
.about-body-content h3 {
    color: rgb(71, 10, 4);
}

.about-body-content h3 {
    font-size: 1.3rem;
}

.about-content p {
    margin: 0;
}

.about-content p,
.about-body-content p,
.about-body-content a  {
    font-size: 0.9rem;
    font-weight: 300 !important;
    color: rgb(120, 109, 108);
}

.about-body-content a {
    color: rgb(52, 127, 173);
}

.about-body-content a:hover {
    color: rgb(2, 48, 76);
}

.about-body-content i {
    transition: all 0.175s ease-in-out;
}

.about-body-content a:hover i {
    margin-left: 0.3rem;
}

.about-header-pic {
    width: 100%;
}

.about-body {
    width: 80%;
    gap: 1rem;
    border-top: 1px solid rgba(120, 109, 108, 0.3);
    border-bottom: 1px solid rgba(120, 109, 108, 0.3);
    height: auto;
}

.about-body-pic {
    width: 50% !important;
    padding: 1rem 0;
    background-color: rgba(159, 131, 129, 0.5);
}

.about-body-pic img {
    width: 100%;
    height: 100%;
}

.about-wrapper {
    width: 50%;
}

.about-body-content i, .about-body-content a {
    width: max-content;
    text-decoration: none;
    font-size: 0.9rem;
}

.icon-box {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: rgba(120, 109, 108, 0.1);
    margin-bottom: 1rem;
}

.icon-box i {
    font-size: 1.7rem;
    color: rgb(177, 138, 39);
}

.testimony {
    width: 50%;
    padding: 6rem 3rem 2rem 3rem;
    background-color: rgba(171, 154, 130, 0.1) !important;
    backdrop-filter: blur(10px);
    border: none !important;
    position: relative;
}

.testimony::before {
    content: '\f10e';
    position: absolute;
    font-size: 3rem;
    top: 1rem;
    color: rgb(177, 138, 39);
    font-family: 'fontawesome';
}

.testimony p,
.testimony span {
    margin: 0;
    text-align: center;
    color: rgb(71, 10, 4);
}

.testimony span {
    color: rgb(120, 109, 108);
    font-size: 0.9rem;
    font-weight: 300;
}

.testimony p:first-child {
    margin-bottom: 3rem;
    color: rgb(135, 116, 69);
    font-size: 1rem;
    position: relative;
    font-weight: 500;
}

.testimony p {
    font-weight: 500;
}

.testimony p:first-child::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 3rem;
    border-radius: 2px;
    background-color: rgb(198, 168, 92);
    bottom: -1.5rem;
    left: calc(50% - 1.5rem);
}

/* CONTACT */

.contact-wrapper {
    height: calc(100vh - 5rem) !important;
}

.map {
    width: 55%;
    height: 450px;
}

.contact-detail {
    bottom: 1rem;
    background-color: rgba(248, 240, 229, 0.7);
    backdrop-filter: blur(5px);
    width: 60%;
    left: 20%;
}

.contact-detail p {
    margin: 0;
    color: rgb(71, 10, 4);
}

.contact-detail a, .contact-detail span {
    text-decoration: none;
    color: rgb(76, 70, 70);
    font-weight: 300;
    font-size: 0.9rem;
    white-space: nowrap;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 30%;
}

.contact-form h5 {
    color: rgb(71, 10, 4);
}

.contact-form p {
    color: rgb(120, 109, 108);
    font-weight: 300;
    font-size: 0.9rem;
}

.contact-form label {
    color: rgb(81, 73, 72);
    font-size: 0.9rem;
}

.contact-form input {
    margin-bottom: 1rem;
}

.contact-form button {
    width: 100%;
    margin-top: 1rem;
}

.contact-form .form-control {
    background-color: rgba(174, 145, 143, 0.1);
    border-radius: 0 !important;
    color: rgb(45, 4, 0) !important;
    border-color: transparent;
    border-style: solid;
    border-radius: 5px !important;
    padding: 0.6rem 1rem;
}

.contact-form .form-control:focus {
    border: solid 1px rgb(71, 10, 4) !important;
    box-shadow: none;
    background-color: transparent !important;
}

/* FOOTER */

.footer {
    height: auto;
    background-color: rgba(248, 240, 229, 0.7);
    border-top: 1px solid rgba(120, 109, 108, 0.2);
}

.footer p, .footer i, .footer a {
    margin: 0 !important;
    color: rgb(109, 28, 21);
    text-decoration: none;
}

.footer-accounts p {
    padding-left: 1.5rem;
    margin-left: 0.5rem !important;
    border-left: 1px solid rgba(120, 109, 108, 0.5);
}

.footer a {
    padding: 0.5rem 1.5rem;
    opacity: 0.8;
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
}

.footer a:hover,
.footer-accounts i:hover {
    background-color: rgb(239, 230, 218);
    opacity: 1;
}

.footer i {
    font-size: 1rem !important;
}

.footer-accounts a {
    border-radius: 50%;
    opacity: 0.7;
    margin: 0 !important;
    padding: 1rem;
    line-height: 0;
}

.footer-accounts a:first-child {
    padding: 1rem 1.25rem;
}

.footer-accounts a:nth-child(2) {
    padding: 1rem 1.1rem;
}

.footer-accounts i {
    font-size: 1.2rem !important;
}

.footer-accounts p i {
    padding: 0;
    font-size: 0.9rem !important;
}

.footer-accounts p i:hover {
    background-color: transparent !important;
}